@import "../../global/mixins.scss";

.searchResultsPage {
  min-height: 700px;
  padding-top: 100px;
  .resultNotFound {
    font-size: 24px;
    color: rgb(18, 126, 204);
    width: 100%;
    text-align: center;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding-top: 15rem;
  }
  .pageTitle {
    font-size: 24px;
    line-height: 34px;
    color: white;
    margin-bottom: 25px;
  }
  .content {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 50px;
    @include md {
      gap: 20px;
    }
    .movieCard {
      .posterBlock {
        margin-bottom: 20px;
      }
    }
  }
}
